<div class="text-center" style="padding-top: 50px;">
  <img src="{{ this.logo }}" id="logo" alt="...">
</div>
<div class="container">
  <div class="card card-container">
    <img id="profile-img" class="profile-img-card" src="{{this.avatar}}" alt="" />
    <p id="profile-name" class="profile-name-card">Iniciar Sesión</p>
    <form name="form" #f="ngForm" (ngSubmit)="onLogin()" novalidate>

      <div class="row">
        <div class="col-lg-1">
          <em class="fas fa-user" style="margin-top: 50px;"></em>
        </div>
        <div class="col-lg-10">
          <input type="email" class="form-control size input_Id" placeholder="Usuario" name="email"
            [(ngModel)]="form.email" autocomplete="off" required>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-1">
          <em class="fas fa-lock" style="margin-top: 30px;"></em>
        </div>
        <div class="col-lg-10">
          <input type="password" class="form-control input_Id " style="margin-top: 20px; font-size: 13px;"
            placeholder="Password" name="password" [(ngModel)]="form.password" autocomplete="off" required>
        </div>
      </div>

      
        <div *ngIf="f.submitted && isLoginFail" class="alert alert-danger mt-3 text-center">Credeciales Incorrectas {{ errorMsg }}</div>
      

      <button style="margin-top: 30px;" class="btn btn-lg btn-primary btn-block btn-signin" type="submit"
        [disabled]="!f.valid">Continuar</button>
      <div class="text-center " id="password">
        <a>¿Olvidaste tú Contraseña?</a>
      </div>
    </form>

  </div>
</div>